.o-btn {
    box-sizing: border-box;
    width: auto;
    min-width: 160px;
    height: 48px;
    padding: 10px;
    color: #fff;
    text-align: center;
    background-color: #000;

    &:hover {
        background-color: #2a2a2a;
    }

    &--sm {
        min-width: 100px;
        height: 32px;
        padding: 2px;
    }

    &--round {
        border-radius: 4px;
    }

    &--outline {
        color: #2a2a2a;
        border: 1px solid #ced4da;
        background-color: transparent;

        &:hover {
            color: #fff;
            border-color: #2a2a2a;
        }
    }
}

.l-actions {
    display: flex;
    margin-top: 20px;
    margin-bottom: 16px;
    align-items: center;

    &__item {
        margin-left: 12px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__hint {
        display: none;
        margin-top: 8px;
        font-size: 12px;
        color: salmon;

        &.is-show {
            display: block;
        }
    }

    &--v {
        flex-direction: column;
        align-items: flex-start;
    }

    &--part {
        justify-content: space-between;
        align-items: flex-start;
    }
}
