.c-card {
    position: relative;
    box-sizing: border-box;
    min-width: 225px;

    &__img {
        width: 100%;
        height: 302px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__btn {
    }

    &__tit {
        padding: 8px 0;
    }

    &__bottom {
    }

    &__tag {
        position: absolute;
        top: 8px;
        right: -4px;
    }

    @include breakpoint-table {
        &__img {
            height: 240px;
        }
    }
}
