.o-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;

    &--clear {
        background: url(../images/icon/clear.svg);
    }
}