.l-container {
    &__cnt {
        box-sizing: border-box;
        max-width: 1110px;
        margin: 0 auto;
        padding: 60px 20px;

        &--h {
            display: flex;
        }
    }

    &__item {
        width: 100%;
        & + & {
            margin-left: 100px;
        }
    }

    &--gy {
        background-color: #f8f8f8;
    }

    @include breakpoint-pc {
        &__cnt {
            &--h {
                flex-direction: column;
            }
        }
        &__item {
            width: 100%;
            & + & {
                margin-left: 0;
            }
        }
    }
}

.l-header {
    border-bottom: 16px solid #2e2e2e;

    &__cnt {
        box-sizing: border-box;
        display: flex;
        max-width: 1110px;
        margin: 0 auto;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
    }

    &--logo {
    }

    &--menu {
    }
}

.c-logo {
    font-family: "Train One";
    font-size: 32px;
}
