.l-container {
    &__cnt {
        box-sizing: border-box;
        max-width: 1110px;
        margin: 0 auto;
        padding: 60px 16px;
    }

    &--gy {
        background-color: #f8f8f8;
    }
}
