.l-kv {
    &__cnt {
        box-sizing: border-box;
        width: 100%;
        padding: 48px 52px;
        height: 420px;
        background: url(../images/kv.jpg) no-repeat center center;
        background-size: cover;
    }
}

.o-tag {
    box-sizing: border-box;
    width: 88px;
    height: 44px;
    padding: 6px;
    font-size: 20px;
    text-align: center;
    color: #FFF;
    background-color: #000;
}