.l-kv {
    &__cnt {
        box-sizing: border-box;
        width: 100%;
        padding: 48px 52px;
        height: 420px;
        background: url(../images/kv.jpg) no-repeat center center;
        background-size: cover;
    }
}
