.c-table {
    width: 100%;

    &__th {
        padding: 12px 0;
        font-weight: bold;
    }

    &__td {
        box-sizing: border-box;
        padding: 8px 4px;
        word-break: break-all;
        border: 1px solid #bfbfbf;

        &--h {
            display: flex;
            align-items: center;
        }
    }
}
